:root {
    /* Change this to change the appearance of the hexagons */
    --hex-height: 40px;
    --hex-width: calc(var(--hex-height) / 1.73);    /* 1.73 = sqrt(3) */
    --hex-between: calc(var(--hex-height) * 1.73);  /* 1.73 = sqrt(3) */
    --hex-margin: calc(var(--hex-height) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73);   /* 1.73 = sqrt(3) */
    --hex-transition: all 2s ease;

    /* Colors */
    --color-hex-default: 	#C4BAB8;
    --color-hex-vaccinated: #3C83B7;
    --color-hex-infected:   #B0102C;
    --color-copy1:          #FFFFFF;
    --color-copy2:          #FFFFFF;
    --color-contour:        #E9855B;
    // --color-hex-avatar:     #00FF00;
    // --color-hex-vulnerable: #FFFAB0;
    // --color-hex-comm:       #3C83B7;
}

/* Colors */
// div.avatar,
// div.avatar::after,
// div.avatar::before {
//     background-color: var(--color-hex-avatar);
// }
// div.vulnerable,
// div.vulnerable::after,
// div.vulnerable::before {
//     background-color: var(--color-hex-vulnerable);
// }
// div.comm,
// div.comm::after,
// div.comm::before {
//     background-color: var(--color-hex-comm);
// }

div.color-infected,
div.color-infected::after,
div.color-infected::before {
    background-color: var(--color-hex-infected);
}

div.color-vaccinated,
div.color-vaccinated::after,
div.color-vaccinated::before {
    background-color: var(--color-hex-vaccinated);
}

.no-hexagon,
.no-hexagon::after,
.no-hexagon::before {
    display: none;
}

/* Hexagons */
.hexagon-container {
    display: grid;
    grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
    grid-template-columns: repeat(14, var(--hex-width)); // Repeat 14 times because grid contains 14 columns
    grid-auto-rows: calc(var(--hex-height) / 10);
    grid-gap: calc(var(--hex-between) / 3) calc(var(--hex-height) / 2);
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    // margin: 0 auto;
    // transform: scale(3,3);
    // transform-origin: (15% 45%);
}

.hexagon {
    align-items: center;
    display: flex;
    height: var(--hex-height);
    justify-content: center;
    margin: var(--hex-border) 0;
    position: relative;
    /* transition: var(--hex-transition); */
    width: var(--hex-width);
    z-index: 1;
}
.hexagon,
.hexagon::after,
.hexagon::before {
    background-color: var(--color-hex-default);
    height: var(--hex-height);
    width: var(--hex-width);
}
.hexagon::after,
.hexagon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hexagon::before {
    transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
}
.hexagon::after {
    transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
}

.hexagon > svg {
    height: 85%;
}


div#copy1 {
    z-index: -2;
}
div#copy1 .hexagon {
    transform: scale(1.1, 1.1);
}
div#copy1 .hexagon,
div#copy1 .hexagon::after,
div#copy1 .hexagon::before {
    background-color: var(--color-copy1);
}
div#copy1 .contour,
div#copy1 .contour::after,
div#copy1 .contour::before {
    background-color: var(--color-contour);
    // background-blend-mode: exclusion;
    z-index: 5;
}

div#copy2 {
    z-index: -3;
}
div#copy2 .hexagon {
    transform: scale(1.4, 1.4);
}
div#copy2 .hexagon,
div#copy2 .hexagon::after,
div#copy2 .hexagon::before {
    background-color: var(--color-copy2);
}

div#copy2 .contour,
div#copy2 .contour::after,
div#copy2 .contour::before {
    background-color: var(--color-contour);
    // background-blend-mode: exclusion;
    // mix-blend-mode: exclusion;
    //mask-size: 100% 100%;
    //mask-composite: exclude; //add subtract intersect exclude
    z-index: 5;
    -webkit-transition: background-color 2s linear;
    -moz-transition: background-color 2s linear;
    -ms-transform: background-color 2s linear;
    -o-transition: background-color 2s linear;
    transition: background-color 2s linear;
}
