:root {
    /* Change this to change the appearance of the hexagons */
    --hex-height: 40px;
    --hex-width: calc(var(--hex-height) / 1.73);    /* 1.73 = sqrt(3) */
    --hex-between: calc(var(--hex-height) * 1.73);  /* 1.73 = sqrt(3) */
    --hex-margin: calc(var(--hex-height) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73);   /* 1.73 = sqrt(3) */

    //--hex-border: calc(var(--hex-margin) / 1.73);   /* 1.73 = sqrt(3) */
    --hex-transition: all .2s ease;

    /* Colors */
    --color-hex-default: 	#C4BAB8;
    --color-hex-avatar:     #00FF00;
    --color-hex-vulnerable: #FFFAB0;
    --color-hex-comm:       #3C83B7;
    --color-hex-vaccinated: #3C83B7;
    --color-hex-infected:   #B0102C;
}

/* Colors */
div.avatar,
div.avatar::after,
div.avatar::before {
    background-color: var(--color-hex-avatar);
}
div.vulnerable,
div.vulnerable::after,
div.vulnerable::before {
    background-color: var(--color-hex-vulnerable);
}
div.comm,
div.comm::after,
div.comm::before {
    background-color: var(--color-hex-comm);
}

div.color-infected,
div.color-infected::after,
div.color-infected::before {
    background-color: var(--color-hex-infected);
}

div.color-vaccinated,
div.color-vaccinated::after,
div.color-vaccinated::before {
    background-color: var(--color-hex-vaccinated);
}

.no-hexagon,
.no-hexagon::after,
.no-hexagon::before {
    // background-color: transparent;
    // height: var(--hex-height);
    // width: var(--hex-width);
    display: none;
}

body {
    // margin: 0 auto;
    // width: 90%;
}

/* Hexagons */
.hexagon-container {
    display: grid;
    grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
    grid-template-columns: repeat(14, var(--hex-width));
    grid-auto-rows: calc(var(--hex-height) / 10);
    grid-gap: calc(var(--hex-between) / 3) calc(var(--hex-height) / 2);
}

.hexagon {
    align-items: center;
    display: flex;
    height: var(--hex-height);
    justify-content: center;
    margin: var(--hex-border) 0;
    position: relative;
    /* transition: var(--hex-transition); */
    width: var(--hex-width);
    z-index: 1;
}

.hexagon,
.hexagon::after,
.hexagon::before {
    background-color: var(--color-hex-default);
    height: var(--hex-height);
    width: var(--hex-width);
}
.hexagon::after,
.hexagon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hexagon::before {
    transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
}
.hexagon::after {
    transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
}

.hexagon:nth-child(8n + 5),
.hexagon:nth-child(8n + 6),
.hexagon:nth-child(8n + 7),
.hexagon:nth-child(8n + 8) {
    margin-left: calc((var(--hex-width) / 2 + var(--hex-between) / 2));
}

.hexagon > svg {
    height: 85%;
}
